@import '../../layout.constants.scss';
#sidebar {
  background-image: url('../../../../../assets/images/sidebar/background-default.jpg');
  border-right-color: var(--sidebar-border-color);
  -webkit-tap-highlight-color: transparent;
  color: var(--sidebar-color);
  transition: left 0.3s ease;
  border-right-style: solid;
  border-right-width: 1px;
  background-size: cover;
  height: calc(100vh);
  overflow: hidden;
  position: fixed;
  z-index: 999;
  top: 0;
  &::after {
    background: var(--sidebar-after-background);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    content: '';
    left: 0;
    top: 0;
  }
  &.hidden {
    left: var(--sidebar-hidden-position);
    width: var(--sidebar-width);
  }
  &.hidden.active {
    left: 0;
  }
}
.sidebar-top {
  &-title {
    color: var(--sidebar-top-color) !important;
  }
}
#sidebar.mid-hidden {
  .sidebar-top {
    img.hide-on-sidebar-closed {
      transition: margin-left ease 0.3s;
      margin-left: -142px;
    }
    span.hide-on-sidebar-closed {
      transition: margin-left ease 0.3s;
      margin-left: -140px;
    }
  }
  .toggle-sidebar-hidden {
    margin-left: -6px;
  }
}
#sidebar.mid-hidden.active {
  .sidebar-top {
    img.hide-on-sidebar-closed {
      margin-left: 12px;
    }
    span.hide-on-sidebar-closed {
      margin-left: 10px;
    }
  }
}
@media (max-width: $MD_RESOLUTION) {
  #sidebar.mid-hidden {
    left: var(--sidebar-hidden-position);
    width: var(--sidebar-width);
  }
  #sidebar.mid-hidden.active {
    left: 0;
  }
}
@media (min-width: ($MD_RESOLUTION + 1px)) {
  #sidebar.mid-hidden {
    width: var(--sidebar-mid-width);
    transition: width 0.3s ease;
  }
  #sidebar.mid-hidden.active {
    width: var(--sidebar-width);
    transition: width 0.3s ease;
  }
}
