@import 'basic';
@import 'icon';
@import 'raised';
.eda-button,
.eda-icon-button,
.eda-raised-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: none;
}
.eda-button:disabled,
.eda-icon-button:disabled,
.eda-raised-button:disabled {
  cursor: default;
}
.eda-button-span.eda-ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: eda-ripple 600ms linear;
  background-color: rgba(194, 194, 194);
  opacity: 0.36;
}
