<div class="mat-form-container">
  <mat-form-field
    [class.mat-form-field-invalid]="isInvalid || (isSubmitted && control.invalid)"
    [appearance]="appearance"
    [color]="color">
    <mat-label>{{ label }} <span *ngIf="required">*</span></mat-label>
    <input
      matInput
      [value]="value"
      (keyup)="onChange($event)"
      (change)="onChange($event)"
      [placeholder]="placeholder"
      [disabled]="disabled"
      onkeydown="return /[0-9]/i.test(event.key) || [8,46,37,39,9,17,16,67,86].indexOf(event.keyCode) >= 0"
      (focusout)="onFocusout()" />
    <button
      mat-icon-button
      matSuffix
      *ngIf="control.value && hasClearButton"
      (click)="onClearControl()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <eda-error [control]="control" *ngIf="isInvalid || (isSubmitted && control.invalid)"></eda-error>
</div>
