.eda-box-container {
  border-color: transparent;
  background: var(--eda-box-background);
  box-shadow: var(--eda-box-shadow);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}
.eda-box-form {
  &-top {
    padding: 10px 10px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-name {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    text-align: left;
    line-height: 0px;
    color: var(--eda-box-form-name-color);
  }
  &-description {
    font-size: 12px;
    font-weight: bolder;
    text-align: left;
    color: var(--eda-box-form-description-color);
    &::before {
      content: '\A';
      white-space: pre;
    }
  }
  &-content {
    padding: 0 10px 0 10px;
  }
  &-buttons {
    padding: 10px;
    font-weight: bolder;
    text-align: right;
    overflow: hidden;
    & button {
      font-weight: bold;
      text-transform: uppercase !important;
    }
  }
}
