.eda-card {
  min-height: 20px;
  padding: 10px;
  background: var(--eda-box-background);
  box-shadow: var(--eda-box-shadow);
  margin-bottom: 10px;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}
.eda-card-topline {
  box-shadow: var(--eda-box-shadow);
  padding: 3px;
  background: var(--eda-primary-500);
  border-radius: 5px 5px 0 0;
}
.no-card-topline {
  border-radius: 5px 5px 5px 5px;
}
