@import '../layout.constants.scss';
.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background: var(--header-background);
  box-shadow: var(--header-box-shadow);
  height: var(--header-height);
  color: var(--header-color);
  font-weight: bolder;
  position: sticky;
  z-index: 997;
  width: 100%;
  &-left {
    padding-left: 10px;
  }
  &-right {
    margin-right: 10px;
  }
  &-user-menu {
    & button {
      font-family: 'titlecommerce';
      background: transparent;
      font-weight: 700;
      cursor: pointer;
      border: none;
      border: 10px;
      & span {
        float: left;
        font-weight: bolder;
        padding: 10px 0 10px 0;
        margin-right: 10px;
      }
      &:hover {
        background: var(--header-user-menu-hover-button);
        border-radius: 10px;
        border: none;
      }
    }
  }
}
@media (min-width: $SM_RESOLUTION) {
  .header-user-menu {
    &-a {
      width: 180px !important;
      &-icon {
        float: left;
        margin-top: 6px;
      }
    }
    &-icon {
      float: right;
      margin-top: 7px;
    }
    & span {
      font-family: 'Poppins', sans-serif;
    }
  }
}
