BASIC BUTTONS
<br />
<button edaButton>Basic</button>
<button edaButton color="primary">Primary</button>
<button edaButton color="accent">Accent</button>
<button edaButton color="warn">Warn</button>
<br />
RAISED BUTTONS
<br />
<button edaRaisedButton>Raised</button>
<button edaRaisedButton color="primary">Primary</button>
<button edaRaisedButton color="accent">Accent</button>
<button edaRaisedButton color="warn">Warn</button>
<br />
ICON BUTTONS
<br />
<button edaIconButton><eda-icon>home</eda-icon></button>
<button edaIconButton color="primary"><eda-icon>arrow_back</eda-icon></button>
<button edaIconButton color="accent"><eda-icon>refresh</eda-icon></button>
<button edaIconButton color="warn"><eda-icon>search</eda-icon></button>
<br />
BASIC BUTTONS (disabled)
<br />
<button disabled edaButton>Basic</button>
<button disabled edaButton color="primary">Primary</button>
<button disabled edaButton color="accent">Accent</button>
<button disabled edaButton color="warn">Warn</button>
<br />
RAISED BUTTONS (disabled)
<br />
<button disabled edaRaisedButton>Raised</button>
<button disabled edaRaisedButton color="primary">Primary</button>
<button disabled edaRaisedButton color="accent">Accent</button>
<button disabled edaRaisedButton color="warn">Warn</button>
<br />
ICON BUTTONS (disabled)
<br />
<button disabled edaIconButton><eda-icon>home</eda-icon></button>
<button disabled edaIconButton color="primary"><eda-icon>arrow_back</eda-icon></button>
<button disabled edaIconButton color="accent"><eda-icon>refresh</eda-icon></button>
<button disabled edaIconButton color="warn"><eda-icon>search</eda-icon></button>
