<div class="mat-form-container">
  <mat-form-field
    [class.mat-form-field-invalid]="isInvalid || (isSubmitted && control.invalid)"
    [appearance]="appearance"
    [color]="color">
    <mat-label>{{ label }} <span *ngIf="required">*</span></mat-label>
    <input
      matInput
      [type]="decrypted ? 'text' : 'password'"
      [value]="value"
      (keyup)="onChange($event)"
      (change)="onChange($event)"
      [placeholder]="placeholder"
      [disabled]="disabled"
      (focusout)="onFocusout()" />
    <button mat-icon-button matSuffix type="button" *ngIf="control?.value" (click)="showPassword()">
      <mat-icon class="icon-decryted-password-button">{{
        decrypted ? 'visibility_off' : 'visibility'
      }}</mat-icon>
    </button>
  </mat-form-field>
  <eda-error [control]="control" *ngIf="isInvalid || (isSubmitted && control.invalid)"></eda-error>
</div>
